.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 20px;
    background: rgba(255, 255, 255, 0.05); /* Effet verre */
    backdrop-filter: blur(10px); /* Flou d'arrière-plan  */
    border: 1.5px solid rgba(255, 255, 255, 0.2);
    border-radius: 20px;
    width: 100%;
    max-width: 450px;
}

.form-title {
    margin-bottom: 10px;
    font-size: 1.2rem;
    color: #fff;
}

.input-group {
    display: flex;
    gap: 10px;
}

input, textarea {
    width: 100%;
    padding: 12px;
    background: rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    color: white;
    outline: none;
    transition: border 0.3s;
}

input:focus, textarea:focus {
    border-color: #61dafb; /* Couleur React pour le focus */
}

.form-actions {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    margin-top: 10px;
}

textarea {
    resize: none; /* On bloque le redimensionnement pour ne pas casser le layout */
}